
           



* {box-sizing: border-box;}

 .card-group{border-style: hidden;}
 .card-title{text-align: center;}

    
.footer { padding: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-align: left;
        background-color: black;
        color:white;}
.box{  background-color:#333;
  width: 600px;
  height:200px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #000;
  padding: 30px;
  margin-top: 50px;
  margin-left: 100px;}

  .box1{ background-color:#333;
    width: 600px;
    height:200px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #000;
    padding: 30px;
    margin-top: 50px;
    margin-left: 300px;}
  .box > p{text-align: left;
           font-weight:bold;
          font-size: 30px;
          font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
        text-decoration: underline;
         color:white;}

  .box1 > p{text-align:right;
            font-weight:bold;
            font-size: 30px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
            text-decoration: underline;
            color:white;}       

   img.x{  
  border: 2px solid black;
  padding:10px;
  box-shadow: 5px 5px 5px #000;
    margin-left: 300px;
    margin-top: -150px;
     z-index:-1;}
  
     img.x1{  
      border: 2px solid black;
      padding:10px;
      box-shadow: 5px 5px 5px #000;
        margin-left:-45px;
        margin-top: -150px;
         z-index:-1;}


  .middle{background-image: url(jb5.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;}
